@{
    ViewData["Title"] = "Login";
}


<form action="action_page.php" class="form_container_wrapper login_form">
    <div class="form_container">
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <hr>

        <button type="submit" class="submitBtn">Login</button>
    </div>
    <div class="signin">
        <p>Not have an account? <a asp-area="" asp-controller="Register" asp-action="">Register</a>.</p>
    </div>
</form>
